body {
  font-family: cursive;
  margin-top: 100px;
  background-color: #633bbc;
  background: black;
  background-repeat: no-repeat;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.section-header {
  color: white;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 28px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-weight: bold;
}

p {
  color: white;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .section-header {
    font-size: 24px;
  }

  p {
    font-size: 16px;
    line-height: 1.4;
  }

  li {
    list-style: none;
  }
}

li {
  list-style: none;
}

.learn {
  position: relative;
}
