body {
  font-family: cursive;
  margin-top: 100px;
  background-color: #633bbc;
  background: black;
  background-repeat: no-repeat;
}

/* Header styles */
header {
  color: #fff;
  padding: 20px;
}

header h1 {
  margin-top: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.container h2 {
  color: white;
  font-size: 30px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.learn {
  position: relative;
}

/* Container styles */
.container {
  margin: 20px auto;
  max-width: 800px;
  padding: 0 20px;
}

/* Lesson list styles */
.lesson-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* ProgressBar + Title */

.header-progressbar {
  font-size: 40px;
}

#myProgress {
  width: 100%;
  background-color: white;
}

#myBar {
  background-color: #633bbc;
  width: 10%;
  height: 30px;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

/* Lesson styles */
.lesson {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10%;
}

.lesson h3 {
  margin-top: 0;
}

.lesson p {
  margin-bottom: 10px;
}

.lesson a  {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.lesson a:hover {
  color: #fff;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  /* Lesson list styles */
  .lesson-list {
    grid-template-columns: 1fr;
  }
}
