body {
  font-family: cursive;
  margin-top: 100px;
  background-repeat: repeat;
  background-color: black;
  color: white;
}

.learn {
  position: relative;
}

.headerf {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin: 5% auto;
  margin-top: 12%;
  max-width: 45%;
  padding: 1%;
  border-radius: 45px;
  border: 2px solid white;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  margin-bottom: 2%;
  font-size: 45px;
  text-align: center;
}

p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 25px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../shared/imagini/learn.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1%;
  border: 5px solid rgb(168, 163, 163);
  /* width: auto;
  height: auto; */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  word-spacing: 3px;
}

footer {
  color: #fff;
  padding: 10px;
  bottom: 0;
  text-align: center;
  object-fit: cover;
  max-width: 100%;
  position: fixed;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

fieldset {
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: center;
}

form {
  align-items: center;
}
