body {
  font-family: cursive;
  margin-top: 100px;
  background-color: #633bbc;
  background: black;
  background-repeat: no-repeat;
}

.container {
  display: inline-block;
}

.profile-container {
  display: inline-block;
}

.separator {
  height: 1px;
  background-color: white;
  margin-top: 20px;
}

.name {
  color: white;
  font-size: 32px;
  margin-top: 20px;
  padding: 10px;
}

.user-details {
  list-style-type: none;
  padding: 20px;
  margin-top: 20px;
}

.user-details li {
  color: white;
  margin-bottom: 10px;
  font-size: 18px;
}

.user-details li::before {
  content: "\2022";
  color: white;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.occupation {
  color: white;
  font-style: italic;
}

.country {
  color: white;
  font-weight: bold;
}

/* Media Queries */

@media (max-width: 768px) {
  .name {
    font-size: 24px;
  }

  .user-details {
    font-size: 18px;
  }
}

.card {
  width: auto;
  height: auto;
  border-radius: 30px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
}
