body {
  font-family: cursive;
  margin-top: 100px;
  background-color: #633bbc;
  background: black;
  background-repeat: no-repeat;
}


.container {
  max-width: 960px;
  margin: auto;
}

.separator {
  height: 1px;
  background-color: white;
  margin-top: 20px;
}

.name {
  color: white;
  font-size: 32px;
  margin-top: 20px;
}

.user-details {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.user-details li {
  color: white;
  margin-bottom: 10px;
}

.user-details li::before {
  content: "\2022";
  color: white;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.occupation {
  color: white;
  font-style: italic;
}

.country {
  color: white;
  font-weight: bold;
}

/* Media Queries */

@media (max-width: 768px) {
  .name {
    font-size: 24px;
  }

  .user-details {
    font-size: 14px;
  }
}
