.logo img {
  width: 50%;
  /* border-radius: 0%; */
  object-fit: cover;
  max-width: 100%;
  margin-top: 3px;
  margin-left: 15px;
}

nav {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  /* margin-right: 10px; */
}

nav a {
  color: black;
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #fff;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}

li {
  list-style: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #633bbc;
  color: #fff;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}
.menu {
  display: flex;
  padding: 16px 0;
  gap: 1rem;
  font-size: 18px;
}

.menu li:hover {
  background-color: #633bbc;

  /* border-radius: 50%; */

  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}
.dropdown {
  background-color: #633bbc;

  padding: 1em 0;

  position: absolute;

  display: none;

  border-radius: 8px;

  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;

  width: 8em;

  text-align: center;
}

.dropdown li:hover {
  background-color: #633bbc;
}

.learn:hover .dropdown {
  display: block;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;

  font-size: 24px;

  user-select: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #633bbc;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #633bbc;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #633bbc;
  }
}

.upperContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: 50%;
  align-items: flex-start;
  margin-top: 5%;
  align-content: center;
  margin: 1rem;
  padding: 2rem 2rem;
  /* gap: 10%;  */
}

@media (max-width: 600px) {
  .upperContainer {
    flex-direction: column;
    align-content: center;
  }
}
