body {
  font-family: cursive;
  margin-top: 100px;
  background-color: #633bbc;
  background: black;
  background-repeat: no-repeat;
}

.container {
  max-width: 960px;
  margin: auto;
}

.user-profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  margin-top: 50px;
}

.user-profile h2 {
  margin-top: 15;
  font-size: 32px;
  width: 30%;
}

/* Social links styles */
.social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social li:not(:last-child) {
  margin-right: 10px;
}

.social li a {
  display: inline-block;
  color: #24292e;
  background-color: #f1f8ff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px 12px;
  text-decoration: none;
  transition: all 0.2s;
}

.social li a:hover {
  background-color: #633bbc;
  color: #fff;
}

/* User bio styles */
.user-bio {
  margin-top: 20px;
}

.user-bio h3 {
  margin-top: 0;
  font-size: 24px;
}

.user-bio p {
  /* margin-bottom: 0; */
  margin-top: 26px;
  width: 30%;
  max-width: 50%;
}

/* Input styles */
input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #633bbc;
  box-shadow: 0 0 0 2px #f1f8ff;
}

textarea {
  height: 100px;
  resize: none;
}

.upload-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f1f8ff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px 12px;

  cursor: pointer;
}

#uploaded-image {
  display: none;
  max-width: 150px;
  max-height: 150px;
  margin-top: 20px;
}
