<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../shared/lesson.css" />
    <link rel="stylesheet" href="../shared/navbar.css" />
    <title>EditPanel</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="/home" style="color: white; text-decoration: none">
          <img src="../shared/imagini/logo-removebg-preview.png" />
        </a>
      </div>
      <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li class="learn">
            <a href="/learn">Learn</a>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="/logout">Logout</a></li>
        </div>
      </ul>
    </nav>
    <div class="headerf">
      <input type="text" id="title" name="title" placeholder ="Title" required="true"/>
    </div>
    <br />
    <div class="lessonText">
      <textarea
        type="text"
        id="text"
        name="text"
        placeholder="Write your lesson here..."
        required="true"></textarea>
    </div>
    <div class="urlTag">
      <input type="text" id="urlTag" name="urlTag" placeholder ="urlTag" required="true"/>
    </div>
    <div class="tags">
      <input type="text" id="tags" name="tags" placeholder ="lesson tags" required="true"/>
    </div>
    

    <br />
    <div class="quiz-container">
      <form action = '/learn/add' method= 'post' autocomplete="off">
      <label for="question1">Question 1:</label>
      <input type="text" id="Q1" name="Q1" required="true" />
      <input type="text" id="A11" name="A11" placeholder="Answer 1" required="true"/>
      <input type="text" id="A12" name="A12" placeholder="Answer 2" required="true"/>
      <input type="text" id="A13" name="A13" placeholder="Answer 3" required="true"/>
      <select name="A1c" class="form-control" id="A1c">
        <option value="0" label="Select the correct answer..." selected="selected"> Select the correct answer...</option>
        <option value="A11" label="Answer 1">Answer 1</option> 
        <option value="A12" label="Answer 2">Answer 2</option> 
        <option value="A13" label="Answer 3">Answer 3</option> 
      </select>
      <br />
      <label for="question2">Question 2:</label>
      <input type="text" id="Q2" name="Q2" required="true" />
      <input type="text" id="A21" name="A21" placeholder="Answer 1" required="true"/>
      <input type="text" id="A22" name="A22" placeholder="Answer 2" required="true"/>
      <input type="text" id="A23" name="A23" placeholder="Answer 3" required="true"/>
      <select name="A2c" class="form-control" id="A2c">
        <option value="0" label="Select the correct answer..." selected="selected"> Select the correct answer...</option>
        <option value="A21" label="Answer 1">Answer 1</option> 
        <option value="A22" label="Answer 2">Answer 2</option> 
        <option value="A23" label="Answer 3">Answer 3</option> 
      </select>
      <br />
      <label for="question3">Question 3:</label>
      <input type="text" id="Q3" name="Q3" required="true" />
      <input type="text" id="A31" name="A31" placeholder="Answer 1" required="true"/>
      <input type="text" id="A32" name="A32" placeholder="Answer 2" required="true"/>
      <input type="text" id="A33" name="A33" placeholder="Answer 3" required="true"/>
      <select name="A3c" class="form-control" id="A3c">
        <option value="0" label="Select the correct answer..." selected="selected"> Select the correct answer...</option>
        <option value="A31" label="Answer 1">Answer 1</option> 
        <option value="A32" label="Answer 2">Answer 2</option> 
        <option value="A33" label="Answer 3">Answer 3</option> 
      </select>
      <br />
      <label for="question4">Question 4:</label>
      <input type="text" id="Q4" name="Q4" required="true" />
      <input type="text" id="A41" name="A41" placeholder="Answer 1" required="true"/>
      <input type="text" id="A42" name="A42" placeholder="Answer 2" required="true"/>
      <input type="text" id="A43" name="A43" placeholder="Answer 3" required="true"/>
      <select name="A4c" class="form-control" id="A4c">
        <option value="0" label="Select the correct answer..." selected="selected"> Select the correct answer...</option>
        <option value="A41" label="Answer 1">Answer 1</option> 
        <option value="A42" label="Answer 2">Answer 2</option> 
        <option value="A43" label="Answer 3">Answer 3</option> 
      </select>
      <br />
      <label for="question5">Question 5:</label>
      <input type="text" id="Q5" name="Q5" required="true" />
      <input type="text" id="A51" name="A51" placeholder="Answer 1" required="true"/>
      <input type="text" id="A52" name="A52" placeholder="Answer 2" required="true"/>
      <input type="text" id="A53" name="A53" placeholder="Answer 3" required="true"/>
      <select name="A5c" class="form-control" id="A5c">
        <option value="0" label="Select the correct answer..." selected="selected"> Select the correct answer...</option>
        <option value="A51" label="Answer 1">Answer 1</option> 
        <option value="A52" label="Answer 2">Answer 2</option> 
        <option value="A53" label="Answer 3">Answer 3</option> 
      </select>
      <button type="submit">Submit lesson</button>
      </form>
    </div>
    </form>
    <!-- <script src="../../public/answers2.js"></script> -->
  </body>
</html>
