<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../shared/lesson.css" />
    <link rel="stylesheet" href="../../shared/navbar.css" />
    <title>EditPanel</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="/home" style="color: white; text-decoration: none">
          <img src="../../shared/imagini/logo-removebg-preview.png" />
        </a>
      </div>
      <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li class="learn">
            <a href="/learn">Learn</a>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="/logout">Logout</a></li>
        </div>
      </ul>
    </nav>
    <div class="form-box">
      <form action="/learn/{{urlTag}}/edit" method="post" autocomplete="off">
        <div class="user-box">
          <div class="headerf">
            <input
              type="text"
              id="title"
              name="title"
              value="{{title}}"
              required="true"
            />
          </div>
          <div class="description">
            <input
              type="text"
              id="description"
              name="description"
              value="{{description}}"
              required="true"
            />
          </div>
          <div class="lessonText">
            <textarea type="text" id="text" name="text" required="true">
{{text}}></textarea
            >
          </div>
          <div class="urlTag">
            <input
              type="text"
              id="urlTag"
              name="urlTag"
              value="{{urlTag}}"
              required="true"
            />
          </div>
          <div class="tags">
            <input
              type="text"
              id="tags"
              name="tags"
              value="{{tags}}"
              required="true"
            />
          </div>
        <br />
        <!-- <div class="user-box"> -->
          <label for="Q1">Question 1:</label>
          <input type="text" id="Q1" name="Q1" value="{{Q1}}" required="true" />
          <input
            type="text"
            id="A11"
            name="A11"
            value="{{A11}}"
            required="true"
          />
          <input
            type="text"
            id="A12"
            name="A12"
            value="{{A12}}"
            required="true"
          />
          <input
            type="text"
            id="A13"
            name="A13"
            value="{{A13}}"
            required="true"
          />
          <select name="A1c" class="form-control" id="A1c">
            <option
              value="0"
              label="Select the correct answer..."
              selected="selected"
            >
              Select the correct answer...
            </option>
            <option value="A11" label="Answer 1">Answer 1</option>
            <option value="A12" label="Answer 2">Answer 2</option>
            <option value="A13" label="Answer 3">Answer 3</option>
          </select>
          <br />
          <label for="Q2">Question 2:</label>
          <input type="text" id="Q2" name="Q2" value="{{Q2}}" required="true" />
          <input
            type="text"
            id="A21"
            name="A21"
            value="{{A21}}"
            required="true"
          />
          <input
            type="text"
            id="A22"
            name="A22"
            value="{{A22}}"
            required="true"
          />
          <input
            type="text"
            id="A23"
            name="A23"
            value="{{A23}}"
            required="true"
          />
          <select name="A2c" class="form-control" id="A2c">
            <option
              value="0"
              label="Select the correct answer..."
              selected="selected"
            >
              Select the correct answer...
            </option>
            <option value="A21" label="Answer 1">Answer 1</option>
            <option value="A22" label="Answer 2">Answer 2</option>
            <option value="A23" label="Answer 3">Answer 3</option>
          </select>
          <br />
          <label for="Q3">Question 3:</label>
          <input type="text" id="Q3" name="Q3" value="{{Q3}}" required="true" />
          <input
            type="text"
            id="A31"
            name="A31"
            value="{{A31}}"
            required="true"
          />
          <input
            type="text"
            id="A32"
            name="A32"
            value="{{A32}}"
            required="true"
          />
          <input
            type="text"
            id="A33"
            name="A33"
            value="{{A33}}"
            required="true"
          />
          <select name="A3c" class="form-control" id="A3c">
            <option
              value="0"
              label="Select the correct answer..."
              selected="selected"
            >
              Select the correct answer...
            </option>
            <option value="A31" label="Answer 1">Answer 1</option>
            <option value="A32" label="Answer 2">Answer 2</option>
            <option value="A33" label="Answer 3">Answer 3</option>
          </select>
          <br />
          <label for="Q4">Question 4:</label>
          <input type="text" id="Q4" name="Q4" value="{{Q4}}" required="true" />
          <input
            type="text"
            id="A41"
            name="A41"
            value="{{A41}}"
            required="true"
          />
          <input
            type="text"
            id="A42"
            name="A42"
            value="{{A42}}"
            required="true"
          />
          <input
            type="text"
            id="A43"
            name="A43"
            value="{{A43}}"
            required="true"
          />
          <select name="A4c" class="form-control" id="A4c">
            <option
              value="0"
              label="Select the correct answer..."
              selected="selected"
            >
              Select the correct answer...
            </option>
            <option value="A41" label="Answer 1">Answer 1</option>
            <option value="A42" label="Answer 2">Answer 2</option>
            <option value="A43" label="Answer 3">Answer 3</option>
          </select>
          <br />
          <input type="text" id="Q5" name="Q5" value="{{Q5}}" required="true" />
          <label for="Q5">Question 5:</label>
          <input
            type="text"
            id="A51"
            name="A51"
            value="{{A51}}"
            required="true"
          />
          <input
            type="text"
            id="A52"
            name="A52"
            value="{{A52}}"
            required="true"
          />
          <input
            type="text"
            id="A53"
            name="A53"
            value="{{A53}}"
            required="true"
          />
          <select name="A5c" class="form-control" id="A5c">
            <option
              value="0"
              label="Select the correct answer..."
              selected="selected"
            >
              Select the correct answer...
            </option>
            <option value="A51" label="Answer 1">Answer 1</option>
            <option value="A52" label="Answer 2">Answer 2</option>
            <option value="A53" label="Answer 3">Answer 3</option>
          </select>
        </div>
        <button type="submit">Save lesson</button>
      </form>
    </div>
  </body>
</html>
