<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../shared/home.css" />
    <link rel="stylesheet" href="../shared/navbar.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Manners Matter!</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="/home" style="color: white; text-decoration: none">
          <img src="../shared/imagini/logo-removebg-preview.png" />
        </a>
      </div>
      <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li class="learn">
            <a href="/learn">Learn</a>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="/help">Help</a></li>
          <li><a href="/logout">Logout</a></li>
        </div>
      </ul>
    </nav>
    <div class="hero-image">
      <div class="hero-text">
        <h1 style="font-size: 60px">Manners Matter!</h1>
        <p style="font-size: 40px">
          Manners Matter! provides support for learning norms and rules of behavior (etiquette) on the internet.
        </p>
      </div>
    </div>
    <div class="leaderboardContainer">
      <div class="leaderboard">
        <h2>Leaderboard</h2>
        <ol id="leaderboard-list">
          <li>Loading leaderboard..</li>
        </ol>
      </div>
      <div class="leaderboard-p">
        <p>Our website's most successful users.</p>
      </div>
      <div class="etiqImg">
        <img src="../shared/imagini/Learn2.png" />
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $.ajax({
          url: '/api/leaderboard',
          method: 'GET',
          dataType: 'xml',
          success: function(data) {
            console.log(data);

            const items = $(data).find('item');
            let leaderboardHTML = '';
            items.each(function(index) {
              const title = $(this).find('title').text();
              const description = $(this).find('description').text();
              leaderboardHTML += `<li>${title} - ${description}</li>`;
            });
            $('#leaderboard-list').html(leaderboardHTML);
          },
          error: function(error) {
            console.error('Error:', error);
          }
        });
      });
    </script>
  </body>
</html>
