<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../shared/lesson.css" />
    <link rel="stylesheet" href="../shared/navbar.css" />
    <title>{{name}}</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="/home" style="color: white; text-decoration: none">
          <img src="../shared/imagini/logo-removebg-preview.png" />
        </a>
      </div>
      <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li class="learn">
            <a href="/learn">Learn</a>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="/logout">Logout</a></li>
        </div>
      </ul>
    </nav>
    <div class="headerf">
      <header>{{title}}</header>
    </div>
    <br />
    <p>{{text}}</p>
    <br />
    <form id="quiz-form">
      <fieldset>
        <legend>
          <u>1. {{Q1}}</u>
        </legend>
        <label
          ><input id="1" type="radio" name="first" unchecked />{{A11}}
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="first" unchecked />{{A12}}
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="first" unchecked />{{A13}}
        </label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend>
          <u>2. {{Q2}}</u>
        </legend>
        <label
          ><input id="1" type="radio" name="second" unchecked />{{A21}}
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="second" unchecked />{{A22}}
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="second" unchecked /> {{A23}}
        </label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend>
          <u>3. {{Q3}}</u>
        </legend>
        <label
          ><input id="1" type="radio" name="third" unchecked />{{A31}}
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="third" unchecked />{{A32}}
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="third" unchecked />{{A33}}
        </label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend>
          <u> 4. {{Q4}} </u>
        </legend>
        <label
          ><input id="1" type="radio" name="fourth" unchecked /> {{A41}}
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="fourth" unchecked />{{A42}}
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="fourth" unchecked />{{A43}}
        </label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend>
          <u>5. {{Q5}}</u>
        </legend>
        <label
          ><input id="1" type="radio" name="fifth" unchecked />{{A51}}
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="fifth" unchecked />{{A52}}
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="fifth" unchecked />{{A53}}
        </label>
      </fieldset>
      <br />
      <button type="submit">Submit</button>
    </form>
    {{edit-button}}
  </body>
</html>
