<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../shared/lesson.css" />
    <link rel="stylesheet" href="../shared/navbar.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>{{name}}</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="/home" style="color: white; text-decoration: none">
          <img src="../shared/imagini/logo-removebg-preview.png" />
        </a>
      </div>
      <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li class="learn">
            <a href="/learn">Learn</a>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="/logout">Logout</a></li>
        </div>
      </ul>
    </nav>
    <div class="headerf">
      <header>{{title}}</header>
    </div>
    <br />
    <p>{{text}}</p>
    <br />
    <form action="/learn/{{urlTag}}" method="post" id="quiz-form">
      <fieldset>
        <legend><u>1. {{Q1}}</u></legend>
        <label><input id="A11" type="radio" name="Q1" value="A11" />{{A11}}</label>
        <br />
        <label><input id="A12" type="radio" name="Q1" value="A12" />{{A12}}</label>
        <br />
        <label><input id="A13" type="radio" name="Q1" value="A13" />{{A13}}</label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend><u>2. {{Q2}}</u></legend>
        <label><input id="A21" type="radio" name="Q2" value="A21" />{{A21}}</label>
        <br />
        <label><input id="A22" type="radio" name="Q2" value="A22" />{{A22}}</label>
        <br />
        <label><input id="A23" type="radio" name="Q2" value="A23" />{{A23}}</label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend><u>3. {{Q3}}</u></legend>
        <label><input id="A31" type="radio" name="Q3" value="A31" />{{A31}}</label>
        <br />
        <label><input id="A32" type="radio" name="Q3" value="A32" />{{A32}}</label>
        <br />
        <label><input id="A33" type="radio" name="Q3" value="A33" />{{A33}}</label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend><u>4. {{Q4}}</u></legend>
        <label><input id="A41" type="radio" name="Q4" value="A41" />{{A41}}</label>
        <br />
        <label><input id="A42" type="radio" name="Q4" value="A42" />{{A42}}</label>
        <br />
        <label><input id="A43" type="radio" name="Q4" value="A43" />{{A43}}</label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend><u>5. {{Q5}}</u></legend>
        <label><input id="A51" type="radio" name="Q5" value="A51" />{{A51}}</label>
        <br />
        <label><input id="A52" type="radio" name="Q5" value="A52" />{{A52}}</label>
        <br />
        <label><input id="A53" type="radio" name="Q5" value="A53" />{{A53}}</label>
      </fieldset>
      <br />
      <div class="submit-button">
        <button type="submit">Submit</button>
      </div>
    </form>
    
    {{edit-button}}
    {{delete-button}}
  </body>
</html>
