<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My profile</title>
      <link rel="stylesheet" href="../shared/profile.css" />
    <link rel="stylesheet" href="../shared/navbar.css" />
    <link rel="stylesheet" href="../shared/learn.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <nav class="navbar">
        <div class="logo">
          <a href="/home" style="color: white; text-decoration: none">
            <img src="../shared/imagini/logo-removebg-preview.png" />
          </a>
        </div>
        <ul class="nav-links">
          <input type="checkbox" id="checkbox_toggle" />
          <label for="checkbox_toggle" class="hamburger">&#9776;</label>
          <div class="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li class="learn">
              <a href="/learn">Learn</a>
            </li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="/logout">Logout</a></li>
          </div>
        </ul>
      </nav>
      <main class="profile-container container main-container">
      
      </main>
      <div class="container">
        <h2>Recommended lessons</h2>
        <div class="lesson-list">
        </div>
      </div>
      <script>
        $(document).ready(function() {
          const lessonListContainer = $('.lesson-list');
          const userContainer = $('.profile-container.main-container');
          
          function fetchUser() {
            $.ajax({
              url: '/api/user',
              method: 'GET',
              dataType: 'json',
              success: function(response) {
                const userHTML = `
                  <div class="card">
                    <div class="name">${response.name}</div>
                    <div class="separator"></div>
                    <ul class="user-details">
                      <li class="occupation">${response.occupation}</li>
                      <li class="country">${response.country}</li>
                    </ul>
                  </div>
                `;
                
                userContainer.html(userHTML);
              },
              error: function(error) {
                console.error('Error fetching user:', error);
              }
            });
          }
    
          function fetchLessons() {
            $.ajax({
              url: '/api/lessons/suggestions',
              method: 'GET',
              dataType: 'json',
              success: function(response) {
                const lessonsHTML = response.map(lesson => {
                  return `
                    <div class="lesson">
                      <h3>${lesson.title}</h3>
                      <p>${lesson.description}</p>
                      <a href="/learn/${lesson.urlTag}">Start Lesson</a>
                      <p>Your score for this lesson: ${lesson.score}</p>
                    </div>
                  `;
                });
    
                lessonListContainer.html(lessonsHTML.join(''));
              },
              error: function(error) {
                console.error('Error fetching lessons:', error);
              }
            });
          }
          
          fetchUser();
          fetchLessons();
        });
      </script>
    </body>
  </html>