<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../shared/lesson.css" />
    <link rel="stylesheet" href="../../shared/navbar.css" />
    <title>Online Behavior, Etiquette, Addressing</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="/home" style="color: white; text-decoration: none">
          <img src="../../shared/imagini/logo-removebg-preview.png" />
        </a>
      </div>
      <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li class="learn">
            <a href="/learn">Learn</a>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="/logout">Logout</a></li>
        </div>
      </ul>
    </nav>
    <div class="headerf">
      <header>
        Practical Tips for Online Behavior, Etiquette, and Addressing
      </header>
    </div>
    <br />
    <p>
      In the digital era we live in, online interactions have become an integral
      part of our lives. It is essential to adapt our behavior, etiquette, and
      the way we address others in the online environment to maintain a
      professional and respectful image in line with social norms.
      <br /><br /><b>1. Proper Online Behavior:</b> <br />-Be polite and
      respectful: Regardless of the context, demonstrate politeness and respect
      towards other users. Avoid offensive or aggressive language and refrain
      from baseless insults or criticism. <br />-Listen and be empathetic: When
      participating in online conversations or discussions, pay attention and
      actively listen to the opinions and viewpoints of others. Show empathy and
      understanding towards different perspectives.<br />
      -Practice digital citizenship: Respect the rules and guidelines of online
      platforms and communities. Be mindful of your online presence, maintain
      integrity, and contribute positively to the digital space.
      <br />
      <br />
      <b>2. Professional Online Presentation:</b> <br />-Maintain a professional
      profile: Ensure that your online profiles, such as social media accounts
      and professional networking platforms, reflect a professional image. Use
      appropriate language, share relevant content, and avoid posting anything
      that may compromise your professional reputation. <br />-Use a
      professional tone: When communicating online, maintain a professional tone
      in your messages, emails, and comments. Be clear, concise, and use proper
      grammar and punctuation to convey your ideas effectively. <br />-Be
      mindful of your digital footprint: Remember that everything you share or
      post online leaves a digital footprint. Before posting, consider the
      potential impact it may have on your personal and professional life.
      <br /><br />
      <b>3. Correct Online Addressing:</b> <br />
      -Use appropriate greetings: When addressing someone online, start with an
      appropriate greeting depending on the context. Use "Dear [Name]" for
      formal emails or messages and "Hi [Name]" for more casual interactions.<br />
      -Use inclusive language: Be mindful of using inclusive language that
      respects and includes all genders and identities. Avoid gender-specific
      terms or assumptions and use inclusive terms such as "everyone," "folks,"
      or "team."<br />
      -Double-check names and titles: Ensure you spell names correctly and use
      the appropriate titles when addressing individuals. If you're unsure about
      someone's preferred form of address, it's better to ask for clarification.
      <br />
      <br />
    </p>
    <br />
    <form id="quiz-form">
      <fieldset>
        <legend>
          <u>1. What is an important aspect of online behavior?</u>
        </legend>
        <label
          ><input id="1" type="radio" name="first" unchecked />Being offensive
          and aggressive towards others
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="first" unchecked />Practicing
          politeness and respect
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="first" unchecked />Ignoring different
          perspectives
        </label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend>
          <u>2. How should you maintain a professional online profile?</u>
        </legend>
        <label
          ><input id="1" type="radio" name="second" unchecked />Share irrelevant
          content on social media
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="second" unchecked />Use appropriate
          language and post responsibly
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="second" unchecked />Post anything
          without considering its impact
        </label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend>
          <u
            >3. What is a correct way to address someone online in a formal
            email?</u
          >
        </legend>
        <label
          ><input id="1" type="radio" name="third" unchecked />"Hey [Name]"
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="third" unchecked />
          "Hi [Name]"
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="third" unchecked />"Dear [Name]"
        </label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend>
          <u> 4. Why is it important to use inclusive language? </u>
        </legend>
        <label
          ><input id="1" type="radio" name="fourth" unchecked />It helps to
          exclude certain groups of people
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="fourth" unchecked />
          It shows respect and includes all genders and identities
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="fourth" unchecked />It doesn't matter
          how we address others
        </label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend>
          <u>5. What should you do before posting something online?</u>
        </legend>
        <label
          ><input id="1" type="radio" name="fifth" unchecked />Share it without
          considering its impact
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="fifth" unchecked />
          Consider its potential effect on your personal and professional life
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="fifth" unchecked />Post without
          checking for grammatical errors
        </label>
      </fieldset>
      <br />
      <button type="submit">Submit</button>
    </form>
    <!-- <script src="../../public/answers2.js"></script> -->
  </body>
</html>
