<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../shared/lesson.css" />
    <link rel="stylesheet" href="../../shared/navbar.css" />
    <title>Netiquette Basics</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="/home" style="color: white; text-decoration: none">
          <img src="../../shared/imagini/logo-removebg-preview.png" />
        </a>
      </div>
      <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li class="learn">
            <a href="/learn">Learn</a>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="/logout">Logout</a></li>
        </div>
      </ul>
    </nav>
    <div class="headerf">
      <header>NETIQUETTE LESSON</header>
    </div>
    <br />
    <p>
      <u>Welcome to the world of online communication!</u><br /><br />In this
      lesson, we'll explore the art of writing effective messages and behaving
      appropriately online. From crafting impactful messages to embracing
      netiquette, we'll equip you with the knowledge and skills to navigate the
      digital landscape with confidence and integrity.<br />Through practical
      examples, you'll learn how to choose your words wisely, adapt to different
      platforms, and uphold the principles of netiquette. By the end of this
      lesson, you'll be able to communicate effectively, foster meaningful
      interactions, and contribute positively to online communities. So, let's
      embark on this journey together and unlock the power of online
      communication!<br />
      As you embark on this journey, it's important to recognize the immense
      power of words in shaping online experiences. The digital realm amplifies
      the impact of our language, allowing our messages to reach vast audiences
      instantaneously. Therefore, our choice of words, tone, and overall
      demeanor play crucial roles in fostering understanding, respect, and
      empathy in online interactions.<br />Moreover, different online platforms
      come with their own set of conventions, rules, and etiquettes. We will
      explore the nuances of popular platforms such as social media, email,
      forums, and chat apps, unraveling the specific considerations and
      guidelines for effective communication in each context. By understanding
      these platform-specific dynamics, you'll be able to tailor your messages
      and behaviors accordingly, ensuring seamless and meaningful engagement
      with others.<br />
      So, let's embark on this digital odyssey together as we explore the art of
      writing messages and navigating the online landscape with grace, empathy,
      and respect. Get ready to unlock the full potential of online
      communication and make your mark in the vast and interconnected world of
      the internet!
    </p>
    <br />
    <form id="quiz-form">
      <fieldset>
        <legend>
          <u
            >1. Which of the following is an example of clear and concise
            messaging?</u
          >
        </legend>
        <label
          ><input id="1" type="radio" name="first" unchecked />"I think it's
          really important to consider all the different aspects and
          perspectives before making a decision."
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="first" unchecked />"We should
          analyze various factors and viewpoints to make an informed decision."
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="first" unchecked />"Decide wisely!"
        </label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend>
          <u
            >2. In a professional email, how should you address the
            recipient?</u
          >
        </legend>
        <label
          ><input id="1" type="radio" name="second" unchecked />"Hey [Name],"
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="second" unchecked />"Dear
          Sir/Madam,"
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="second" unchecked />"Hi there!"
        </label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend>
          <u
            >3. Which of the following is a respectful and inclusive
            statement?</u
          >
        </legend>
        <label
          ><input id="1" type="radio" name="third" unchecked />"Hey guys, listen
          up!"
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="third" unchecked />
          "Hey everyone, listen up!"
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="third" unchecked />"Listen up, you
          all!"
        </label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend>
          <u>
            4. What is the appropriate way to respond to a social media post
            with misleading information?
          </u>
        </legend>
        <label
          ><input id="1" type="radio" name="fourth" unchecked />Share it without
          fact-checking
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="fourth" unchecked />
          Politely comment with reliable sources debunking the misinformation
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="fourth" unchecked />Ignore it and
          move on
        </label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend>
          <u
            >5. When handling conflicts online, what should be the first
            step?</u
          >
        </legend>
        <label
          ><input id="1" type="radio" name="fifth" unchecked />Remain calm and
          composed
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="fifth" unchecked />
          Express your thoughts and feelings respectfully
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="fifth" unchecked />Listen to the
          other person's perspective
        </label>
      </fieldset>
      <br />
      <button type="submit">Submit</button>
    </form>
    <!-- <script src="../../public/answers1.js"></script> -->
  </body>
</html>
