<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../shared/lesson.css" />
    <link rel="stylesheet" href="../../shared/navbar.css" />
    <title>Online Meetings</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="/home" style="color: white; text-decoration: none">
          <img src="../../shared/imagini/logo-removebg-preview.png" />
        </a>
      </div>
      <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li class="learn">
            <a href="/learn">Learn</a>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="/logout">Logout</a></li>
        </div>
      </ul>
    </nav>
    <div class="headerf">
      <header>ONLINE MEETINGS</header>
    </div>
    <br />
    <p>
      As technology continues to reshape our lives, online meetings have become
      an integral part of our professional and personal interactions. This
      article aims to provide guidance and tips for newcomers on how to behave
      during an online meeting.
      <br /><br /><b>1. Prepare in Advance:</b> Before the meeting, familiarize
      yourself with the meeting agenda and any relevant materials. Test your
      audio and video settings to ensure they are working properly. Join the
      meeting a few minutes early to avoid any last-minute technical glitches.
      <br />
      <br />
      <b>2. Dress Appropriately:</b> Although you may be attending the meeting
      from the comfort of your home, it's essential to dress professionally.
      Dressing appropriately shows respect for the meeting and helps create a
      positive impression among other participants. <br />
      <br />
      <b>3. Choose a Suitable Location:</b> Select a quiet and well-lit area for
      your online meeting. Ensure that the background is clean, organized, and
      free from distractions. Consider using a virtual background if you prefer
      not to share your actual surroundings. <br />
      <br />
      <b>4. Maintain Professionalism:</b> Treat an online meeting as you would
      an in-person meeting. Be attentive, engaged, and maintain a professional
      demeanor. Avoid multitasking or engaging in unrelated activities during
      the meeting. Give your full attention to the discussion and actively
      participate when appropriate. <br />
      <br />
      <b>5. Mind Your Body Language</b> Non-verbal cues play a significant role
      in communication, even in virtual meetings. Sit upright, maintain eye
      contact by looking at the camera, and use appropriate facial expressions
      to convey your engagement and interest. Avoid excessive fidgeting or
      distracting gestures. <br />
      <br />
      <b>6. Use Clear and Concise Communication:</b> When speaking, enunciate
      your words clearly and speak at a moderate pace. Avoid interrupting others
      and wait for your turn to speak. Use the mute feature when not speaking to
      prevent background noise from disrupting the meeting. <br />
      <br />
      <b>7. Be Respectful and Courteous:</b> Respect the opinions and
      contributions of others in the meeting. Wait for others to finish speaking
      before sharing your thoughts. Use inclusive language and avoid offensive
      or discriminatory remarks. Treat all participants with professionalism and
      courtesy. <br />
      <br />
      <b>8. Engage Actively:</b> Participate in the meeting by asking relevant
      questions, providing input, and sharing your ideas when appropriate.
      Actively listen to others and show interest in their contributions. Take
      notes to help you remember important points and action items. <br />
      <br />
      <b>9. Be Mindful of Technology:</b> Familiarize yourself with the meeting
      platform and its features. Learn how to use the chat function, raise your
      hand, or share your screen if necessary. Test your microphone and camera
      settings to ensure they are functioning correctly before the meeting
      starts. <br />
      <br />
      <b>10. Follow Meeting Etiquette:</b> Adhere to the meeting guidelines set
      by the organizer. Avoid side conversations or off-topic discussions that
      may distract others. If you need to step away momentarily, inform the
      participants or use the "Leave Meeting" option temporarily.
    </p>
    <br />
    <form id="quiz-form">
      <fieldset>
        <legend>
          <u>1. What is the recommended dress code for an online meeting?</u>
        </legend>
        <label
          ><input id="1" type="radio" name="first" unchecked />Casual attire
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="first" unchecked />Business attire
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="first" unchecked />No dress code
          required
        </label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend>
          <u
            >2. Why is it important to choose a suitable location for an online
            meeting?</u
          >
        </legend>
        <label
          ><input id="1" type="radio" name="second" unchecked />To showcase
          personal style
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="second" unchecked />To avoid
          technical glitches
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="second" unchecked />To create a
          professional atmosphere
        </label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend>
          <u
            >3. How should participants maintain professionalism during an
            online meeting?</u
          >
        </legend>
        <label
          ><input id="1" type="radio" name="third" unchecked />Engage in
          multiple activities simultaneously
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="third" unchecked />
          Use appropriate body language and facial expressions
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="third" unchecked />Keep the
          microphone on at all times
        </label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend>
          <u>
            4. What should participants do to actively engage in an online
            meeting?
          </u>
        </legend>
        <label
          ><input id="1" type="radio" name="fourth" unchecked />Remain silent
          throughout the meeting
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="fourth" unchecked />
          Ask relevant questions and provide input
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="fourth" unchecked />Multitask and
          work on unrelated tasks
        </label>
      </fieldset>
      <br />
      <br />
      <fieldset>
        <legend>
          <u>5. What is an important aspect of online meeting etiquette?</u>
        </legend>
        <label
          ><input id="1" type="radio" name="fifth" unchecked />Engaging in side
          conversations during the meeting
        </label>
        <br />
        <label
          ><input id="2" type="radio" name="fifth" unchecked />
          Disregarding the meeting agenda
        </label>
        <br />
        <label>
          <input id="3" type="radio" name="fifth" unchecked />Respecting the
          opinions and contributions of others
        </label>
      </fieldset>
      <br />
      <button type="submit">Submit</button>
    </form>
    <!-- <script src="../../public/answers2.js"></script> -->
  </body>
</html>
